.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.btn__container {
    display: flex;
    justify-content: space-evenly;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: border-color var(--transition), background var(--transition);
}

/* .portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
} */

.portfolio__item-image {
    max-height: 270px;
    border-radius: 1.5rem;
    overflow: hidden;
    display: block;
    transition: trasform var(--transition);
}

.portfolio__item-image img {
    transform: 0;
    transition: transform 20s ease;
}

.portfolio__item-image:hover img {
    transform: translateY(calc(-100% + 18rem));
}

.portfolio__item h3 {
    text-align: center;
    margin: 1.2rem 0 2rem;
}

/* =========== MEDIA QUERIES (MEDIUM DIVICES) ============ */

@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* =========== MEDIA QUERIES (SMALL DIVICES) ============ */

@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}